@use 'styles' as *;

.wrap-users{
  padding: $spacing-6;
  max-width: 90%;
  box-shadow: $shadow-base;
  background-color: red;
  margin: 0 auto;
  background-color: var(--card);

  @include sm {
    padding: $spacing-4;
  }
}

.users-section {
  display: flex;
  flex-direction: column;
}

.button-new-users {
  align-self: flex-end; // 👉 lo manda a la derecha
  margin-bottom: 50px;
}
