@use 'styles' as *;

.table-payments {
  padding: $spacing-6;
  max-width: 90%;
  max-height: 100%;
  margin: 0 auto;

  @include sm {
    padding: $spacing-4;
  }
}
.wrap-payments{
  padding: $spacing-6;
  max-width: 80%;
  margin: 0 auto;

  @include sm {
    padding: $spacing-4;
  }
}