@use 'styles' as *;

.wrap-payments {
  padding: $spacing-6;
  max-width: 90%;
  box-shadow: $shadow-base;
  margin: 0 auto;
  background-color: var(--card);

  @include sm {
    padding: $spacing-4;
  }
}

.payments-section {
  display: flex;
  flex-direction: column;
}

.button-new-payments {
  align-self: flex-end;
  margin-bottom: 50px;
}
