<header class="header">
  <div class="container">
    <div class="header__content">
      <!-- Logo + título -->
      <div class="header__brand">
        <div class="header__logo">
          <!-- <lucide-icon [img]="BookOpen" class="icon"></lucide-icon> -->
        </div>
        <div>
          <h1 class="header__title">MedicalPay</h1>
        </div>
      </div>

      <!-- Navegación -->
      <nav class="header__nav">
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/config">Configuración</a>
      </nav>
    </div>
  </div>
</header>
