@use 'styles' as *;

.tabs {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-0;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: var(--primary);
      color: white;
    }
  }
}
