// ---------------------------
// Tema Dark
// ---------------------------

$background-dark: oklch(0.145 0 0);
$foreground-dark: oklch(0.985 0 0);

$card-dark: oklch(0.145 0 0);
$card-foreground-dark: oklch(0.985 0 0);

$popover-dark: oklch(0.145 0 0);
$popover-foreground-dark: oklch(0.985 0 0);

$primary-dark: oklch(0.985 0 0);
$primary-foreground-dark: oklch(0.205 0 0);

$secondary-dark: oklch(0.269 0 0);
$secondary-foreground-dark: oklch(0.985 0 0);

$muted-dark: oklch(0.269 0 0);
$muted-foreground-dark: oklch(0.708 0 0);

$accent-dark: oklch(0.269 0 0);
$accent-foreground-dark: oklch(0.985 0 0);

$destructive-dark: oklch(0.396 0.141 25.723);
$destructive-foreground-dark: oklch(0.637 0.237 25.331);

$border-dark: oklch(0.269 0 0);
$input-dark: oklch(0.269 0 0);

$ring-dark: oklch(0.439 0 0);

// Sidebar
$sidebar-dark: oklch(0.205 0 0);
$sidebar-foreground-dark: oklch(0.985 0 0);
$sidebar-primary-dark: oklch(0.488 0.243 264.376);
$sidebar-primary-foreground-dark: oklch(0.985 0 0);
$sidebar-accent-dark: oklch(0.269 0 0);
$sidebar-accent-foreground-dark: oklch(0.985 0 0);
$sidebar-border-dark: oklch(0.269 0 0);
$sidebar-ring-dark: oklch(0.439 0 0);
