
:root {
  // Variables principales
  --background: radial-gradient(circle at 10% 10%, rgba(245, 247, 250, 0.8), rgb(223 223 223 / 30%) 70%);
  --foreground: oklch(0.145 0 0);

  --card-foreground: oklch(0.145 0 0);
  --card-border: oklch(.929 .013 255.508);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #1c9cf7;
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;

  --text-primary: #495057;
  --text-muted: #94a3b8;
  --muted: #ececf0;
  --muted-foreground: #717182;

  --accent: #e9ebef;
  --accent-foreground: #030213;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;

  --border:#cbd5e1;

  --input: transparent;
  --input-background: #f3f3f5;

  --switch-background: #cbced4;
  --ring: oklch(0.708 0 0);

  --label-text:oklch(.372 .044 257.287);


  // Sidebar
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@mixin theme-light-vars() {
  // Variables principales
  --background: radial-gradient(circle at 10% 10%, rgba(245, 247, 250, 0.8), rgb(223 223 223 / 30%) 70%);
  --foreground: #334155

  --card: #ffffff;
  --card-foreground: oklch(0.145 0 0);
  --card-border: oklch(.929 .013 255.508);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: #1c9cf7;
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.95 0.0058 264.53);
  --secondary-foreground: #030213;

  --text-primary: #495057;
  --text-muted: #94a3b8;
  --muted: #ececf0;
  --muted-foreground: #717182;

  --accent: #e9ebef;
  --accent-foreground: #030213;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;

  --border: rgba(0, 0, 0, 0.1);
  --border-color: #c7bdbd;
  --input: transparent;
  --input-background: #f3f3f5;

  --switch-background: #cbced4;
  --ring: oklch(0.708 0 0);

  --label-text:oklch(.372 .044 257.287);

  // Sidebar
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
