// ========================
// Responsive Helpers
// ========================

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}


.hide-mobile {
  @media (max-width: 576px) {
    display: none !important;
  }
}

.show-mobile {
  display: none !important;

  @media (max-width: 576px) {
    display: block !important;
  }
}
