<div class="page-container">
  <div class="dashboard-container">   

    <div class="cards-container">
      <app-stat-card
        title="Ingresos Totales"
        value="$45,200"
        change="+12.5%"
        trend="up"
        icon="heroWallet"
        color="green">
      </app-stat-card>

      <app-stat-card
        title="Gastos"
        value="$12,400"
        change="-8.2%"
        trend="down"
        icon="heroChartBar"
        color="red">
      </app-stat-card>

      <app-stat-card
        title="Transacciones realizadas"
        value="8,542"
        change="+3.1%"
        trend="up"
        icon="heroUsers"
        color="blue">
      </app-stat-card>
    </div>

    <section class="chart-section">
        <div class="chart-container">
          <app-balance-chart></app-balance-chart>
        </div>
        <div class="recent-activity-container">
          <h3 class="card-title">Actividad reciente</h3>
          @if (recentTransactions$ | async; as transactions) {
            @if (transactions.length > 0) {
              <ul class="activity-list">
                @for (tx of transactions; track tx) {
                  <li class="activity-item">
                    <div class="activity-icon" [ngClass]="tx.type === 'deposit' ? 'income' : 'expense'">
                      <ng-icon [name]="tx.type === 'deposit' ? 'heroArrowTrendingUp' : 'heroArrowTrendingDown'"></ng-icon>
                    </div>
                    <div class="activity-details">
                      <p class="activity-description">{{ getTransactionTypeInSpanish(tx.type) }}</p>
                      <p class="activity-date">{{ tx.createdAt | date:'mediumDate' }}</p>
                    </div>
                    <div class="activity-amount" [ngClass]="tx.type === 'deposit' ? 'income' : 'expense'">
                      {{ (tx.type === 'deposit' ? '+ ' : '- ') + (tx.amount | number:'1.0-0') + ' COP' }}
                    </div>
                  </li>
                }
              </ul>
            } @else {
              <p class="activity-item-empty">No hay actividad reciente</p>
            }
          } @else {
            <p class="activity-item-empty">Cargando...</p>
          }
        </div>
      </section>

      <!-- <section class="transactions-sections">
        <app-dynamic-table
      [columns]="columns"
      [data]="transactions$ | async"
      [actions]="actions"
      title="Últimas transacciones"
      (actionTriggered)="onTableAction($event)"
    ></app-dynamic-table>

      </section> -->
  </div>
</div>
