@use 'styles' as *;

.wrap-customer {
  padding: $spacing-6;
  max-width: 80%;
  margin: 0 auto;

  @include sm {
    padding: $spacing-4;
  }
}

.customer-section {
  display: flex;
  flex-direction: column;
}

.button-new-customer {
  align-self: flex-end; // 👉 lo manda a la derecha
  margin-bottom: 50px;
}
