<div class="action-dropdown-wrapper">
  <button
    type="button"
    class="action-dropdown-toggle"
    (click)="toggleDropdown()"
    [class.open]="isOpen"
  >
    <span class="icon">
      <ng-icon name="heroCog6Tooth" size="1.25rem"></ng-icon>
    </span>
    <span class="label">Acciones</span>
  </button>

  <div class="action-dropdown-menu" [class.show]="isOpen" [ngStyle]="dropdownStyle">
    <div *ngIf="visibleActions.length === 0" class="no-actions">
      <span>Sin acciones disponibles</span>
    </div>

    <button
      type="button"
      *ngFor="let action of visibleActions"
      class="action-item"
      [ngClass]="getActionClasses(action)"
      (click)="onActionClick(action)"
      [title]="action.label"
    >
      <span class="action-icon">
        <ng-icon [name]="action.icon || 'heroStar'" size="1rem"></ng-icon>
      </span>

      <span class="action-label">
        {{ action.label }}
      </span>
    </button>
  </div>
</div>
